.floating-icon {
  z-index: 1000;
  transition: all 0.3s ease;
  font-size: 1rem; /* Default size for larger screens */
}

.floating-icon:hover {
  transform: translateY(-10px); /* Slight hover effect */
}

.join-us-container {
  text-align: center;
}

.arrow-container {
  font-size: 1rem;
  animation: bounce 1s infinite alternate; /* Bouncing arrow animation */
}

/* Arrow bounce animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

/* Responsive Design Adjustments */
/* Medium screens: Tablets and smaller laptops */
@media (max-width: 1024px) {
  .floating-icon {
    font-size: 1.4rem;
  }

  .arrow-container {
    font-size: 1.2rem;
  }
}
/* Small screens: Large phones and small tablets */
@media (max-width: 768px) {
  .floating-icon {
    font-size: 0.7rem;
  }

  .arrow-container {
    font-size: 0.5rem;
  }
}


